{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
       <div class="col-md-6">
           <div class="">


           </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Marque</label>
                <input type="text" name="marque" class="form-control">
            </div>

            <div class="form-group">
                <label>Model</label>
                <input type="text" name="nom" class="form-control">
            </div>

            <div class="form-group">
                <label>Prix</label>
                <input type="text" name="prix" class="form-control">
            </div>

            <div class="form-group">
                <label>Categorie</label>
                <select name="categorie" class="form-control">
                    <option value="none">selection categories..</option>
                    {% for categorie in categories %}
                      <option value="{{categorie.id}}">{{categorie.nom}}</option>
                    {% endfor %}
                </select>
            </div>

            <div  class="form-group">
                <label>Description</label>
                <textarea type="text" name="description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Photos</label>
                <input type="file" name="photo" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Ajouter</button>
            
        </form>

    </div>
</div>
    
{% endblock content %}
    