{% load static %}

<body>
    <style>
        footer{
            
            background: rgb(48, 78, 92);
        }
        a:link{
            color: #fff;
            text-decoration: none;
        }
    </style>
    <br><br><br><br>
    <footer>
        <div class="container" align="center" 
        style="padding: 40px 0;">
              <a href="#">
                  <img width="30" class="user-img rounded-circle mr-2" 
                  src="{% static 'images/icons/facecolor.png' %}" >
              </a>
              <a href="#">
                  <img width="30" class="user-img rounded-circle mr-2"
                  src="{% static 'images/icons/wacolor.png' %}" >
              </a>
              <a href="#">
                  <img width="30" class="user-img rounded-circle mr-2"
                  src="{% static 'images/icons/mailcolor.png' %}" >
              </a>
              <a href="#">
                  <img width="30" class="user-img rounded-circle mr-2"
                  src="{% static 'images/icons/facewhiter.png' %}" >
              </a>
        </div>    
        <div style="background: rgb(9, 43, 53);">
          <p style="text-align: center; color: white;">&copy; 2022 Copyright: <a href="mailto:ngahayannick.2017@gmail.com">
             Ivan TCHOUMI</a></p>
        </div>
    </footer>

</body>

