{% extends 'main.html' %}


{% block content %}

<div>
    <div class="row justify-content-center">
        <div class="card" 
        style="width: 28rem; 
               border: 1px solid #7c7c7c;
               border-radius: 10px;
               height: auto;
               font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

            <div class="card-body">
                <h4 style="text-align: center;">Login Admin</h4>
                <div class="card-text">
                    <form action="" method="post">
                        {% csrf_token %}
                        <br>
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>
                            <input class="form-control" type="text" name="username" placeholder="Nom d'utilisateur">
                        </div>
                        
                        <div class="form-group">
                            <label for="">Mot de passe</label>
                            <input class="form-control" type="password" name="password" placeholder="**********">
                        </div>
            
                        <input class="btn btn-primary btn-block" type="submit" value="Login">
                    </form>
                    <br>

                </div>
            </div>
        </div>
    </div>
    
</div>

  
{% endblock content %}